@media (max-width:992px){
      .box1{
         margin-top: 20px;
      }
      .box1 a{
         margin: auto;
      }
      .box2{
         margin-top: 20px;
      }
      .hero-content h3{
         font-size: 25px;
       }
       .menu ul li {
         padding-right: 15px;
     }
     .box2 i{
      padding-top: 0;
     }
     .box2 a{
        padding: 5px 5px;
     }
     .leftinfo ul li a {
      font-size: 10px;
  }
}
@media (max-width:768px){
   .topnav{
      display: none;
   }
   .main-nav{
      position: relative;
   }
   .menu ul{
     display: none;
     flex-direction: column;
     position: absolute;
     background:#000;
     top: 100%;
     right: 0;
     width: 250px;
     padding: 0 100px;
     margin-top: 10px;
     z-index: 1;
     
   }
   .service-title p{
      width: 100%;
   }
   .menu ul li a{
      color: #fff;
      display: block;
      padding-top: 25px;
   }
   .cros{
      display: block;
   }
   .cros i{
      font-size: 25px;
   }
   .hero-content h3{
      font-size: 20px;
    }
}
@media (max-width:500px){
   .hero-content h3{
      font-size: 20px;
    }
  
}
@media (max-width:360px){
 .hero-content h1{
   font-size: 20px;
 }  
 .hero-content h3{
   font-size: 20px;
 }
 .hero-content p{
   font-size: 15px;
 }  
}