@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
/*tio nav start*/
.topnav{
    background-color:#F4F4F4;
    color: #FF0000;
    padding: 20px 0px;
    

}
.email a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.email i{
    font-size: 35px;
    padding: 0 10px;
}
.phone a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.phone i{
    font-size: 35px;
    padding: 0 10px;
}
.topnav-icon ul{
    margin: auto;
    display: flex;
    justify-content:flex-end;

}
.topnav-icon ul li{
    list-style: none;
}
.topnav-icon ul li a{
    text-decoration: none;
    
    
}
.topnav-icon ul li a i{
    padding: 5px 10px;
    font-size: 30px;
    color:#000;
}
.topnav-icon ul li a i:hover{
    color: #FF0000;
}
/*tio nav end*/


/*main nav start*/
.navigation{
    margin: auto;
    background: #fff;
    padding: 15px 0;
}
.logo h1{
    font-weight: 700;
}
.logo h1 a{
    text-decoration: none;
    color: #000;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.menu ul li{
    list-style: none;
    padding-right: 20px;
    position: relative;
}
.menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: #000;
    font-weight:700;
    letter-spacing: 1px;
    
}
.menu ul li a:hover{
    color: #FF0000;
    border-bottom: 1px solid red;
    transition: 0.2s;
}
.menu ul li ul{
    display: block;
    position: absolute;
    width: 250px;
    padding: 20px;
    top: 100%;
    right: 0;
    background:#000;
    display: none;
    z-index: 1;
   
}
.menu ul li:hover >ul{
    display: block;
    transition:2s;
}
.menu ul li ul li{
    white-space: nowrap;
}
.menu ul li ul li a{
    color: #fff;
    padding-top: 5px;
}
.cros{
    float: right;
    display: none;
}
.fa-check{
    padding-right: 5px;
    color: #FF0000;
}
/*hero section*/

.hero-section{
   background: rgba(7, 0, 0, 0.966);
   background-size: cover;
   background-position: center;
   color: #fff;

}
.hero-content {
    padding: 200px 0;
}
.hero-content h3{
    padding-top: 10px;
    padding-bottom: 40px;
}
.hero-content h1{
    font-size: 50px;
    font-weight: 700;
}
.hero-content p{
    line-height: 50px;
    font-size: 25px;
    padding-bottom: 30px;
}
.hero-content a{
   
    text-decoration: none;
    color: #fff;
    background-color: #FF0000;
    padding: 10px 30px;
    border-radius: 2px;
    font-size: 20px;
}
.hero-content a:hover{
    background-color:#3C92EE;
    color: #fff;
    
}
.side img{
   height: 100%; 
   background:url(../images/cirle.png);
   background-repeat: no-repeat;
   background-position:center;
   /* background-size: cover; */
}
span{
    color: #FF0000;
}
/*hero section end*/


/*service section start*/
.service-section{
    padding: 100px 0;
    background-color:#fff;
}
.box1{
    box-shadow: 5px 5px 15px black;
    background-color: #fff;
    padding: 20px;
    transition: transform .5s;
    
}
.box1:hover a{
    background: #fff;
    color: #FF0000;
    font-size: 25px;
}
.box1:hover{
    transform: scale(1.09);
    
}
.service-title{
    position: relative;
}
.service-title h1{ 
    padding-bottom:px;
    text-align: center;
}
.service-title p{
        margin: auto;
        width: 50%;
        text-align: center;
        padding-bottom: 30px;
    
 }

.box1 i{
    font-size: 40px;
    display: block;
    text-align: center;
    color: red;
    padding-bottom: 15px;
}
.box1 h3{
    text-align: center;
    font-weight:700;
}
.box1 p{
    text-align: center;
}
.box1 a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: #000;
    padding: 10px 5px;
    font-size: 25px;
    width: 90%;
    margin-top:40px;
}

.box2 i{
    color: #fff;
    padding: 15px;
    font-size: 40px;
    display: block;
    text-align: center;
}
.box2 h3{
    text-align: center;
}
.box2 a{
    text-decoration: none;
    display: block;
    text-align: center;
    background: #fff;
    color:#FF0000;
    padding: 10px 5px;
    font-size: 25px;
    width: 90%;
   
}
.box2 p{
    text-align: center;
}
/*project section*/
.project-section{
    padding: 50px 0;
}

.sproject{
    margin: 25px 0;
    position: relative;
}
.sproject img {
    width: 100%;
    height: 200px;
}
.overley {
    position: absolute;
    background: rgb(0, 0, 0);
    height: 100%;
    width: 97%;
    opacity: 0;
}
.overley:hover{
    opacity: .8;
    transition: 1s;
}
.overley h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
/*client section*/
.client-section{
    background-color: #000;
    background: linear-gradient(rgb(0 0 0 / 55%), rgb(0 0 0 / 55%)), url(../images/hero2.jpg);
    color: #fff;
    padding: 50px 0;
    margin: 100px 0;
}
.singlesec{
    padding: 25px 0;
}
.singlesec h1{
    text-align: center;
    font-weight: 700;
}
.singlesec h3{
    text-align: center;
}
.singlesec i {
    font-size: 48px;
    display: block;
    text-align: center;
}
.singlesec h1 {
    font-size: 75px;
}
/*contact sec*/
.contact-section{
    padding: 0px 0 50px 0;
}
.contact-heading h1{
    text-align: center;
    padding-bottom: 20px;
}
.leftinfo ul li{
    list-style: none;
    padding-bottom: 25px;
}
.leftinfo ul li a{
    text-decoration: none;
}
.rightinfo ul li{
    list-style: none;
}
.contact{
    justify-content: space-around;
}
.allinfo{
    display: flex;
    justify-content: space-between;
    
}
.contact h1 {
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #DBDCDD;
    color: #FF0000;
}
.infobox{
    box-shadow: 5px 5px 25px 0px gray;
    border-radius: 10px;
    padding: 45px;
    margin-bottom: 30px;
}
.infobox input {
    width: 100%;
    margin: 5px 0;
    border: 1px solid gray;
    padding: 10px;
    outline:none;
    border-radius: 5px;
    
}
.infobox textarea{
    width: 100%;
    border: 1px solid gray;
    outline: none;
    margin-bottom: 30px;
    padding: 10px;
    height: 100px;
}
::placeholder{
    padding: 10px;
   
}
.contact-heading p {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 30px;
}
/*contact section end*/

/*top footer section start*/
.top-footer{
    background-color: #000;
    padding: 50px 0;
}
.footer-item{}
.footer-item h3{
    color: #fff;
}
.footer-item ul li{
    list-style: none;
}
.footer-item ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding-top:15px;
}
.footer-item ul li a:hover{
    color: #FF0000;
}
.social-icon ul{
    display: flex;
    justify-content: flex-start;
}
.social-icon ul li a{
    padding-right: 25px;
    color: #FF0000;
}
.social-icon ul li a:hover{
    font-size: 20px;
    transition: .3s;
}
/*top footer end*/

/*bottom footer start*/
.bottom-footer{
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #262424;
}
.bfooter-content{}
.bfooter-content p{
    color: #fff;
    font-size: 15px;
}
.bfooter-content a{
    text-decoration: none;
}
/*bottom footer end*/

/*scrollup*/
.scrollup{
    position: relative;
}
.scrollup img{
    border: 1px solid #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
 }
 .leftinfo ul li a {
    color: #000;
}